<h1>Upload your event image </h1>
<%=form_tag '/ecre', method: 'post', multipart: true do %>
<div class="main-content" style="margin-bottom:-50px">
<div class="media response-info" style="margin-top:-50px">
    <div class="media-left response-text-left">
    <input type="text" name="etit" placeholder="제목">
    <textarea name="econ" placeholder="부연 설명"></textarea>
    <%= file_field_tag 'eimage' %><br>
    <input type="submit" value="submit">
<% end %>
    </div>
</div>
</div>